{% extends 'admin.layout.html.twig' %}

{% block title %}Modifier les dates des événements
{% endblock %}

{% block content %}
	<h1>Modifier les dates des événements</h1>
	{% if toaster.hasToast() %}
		{% for toast in toaster.renderToast() %}
			<div class="alert alert-{{ toast.type }}">
				{{ toast.message }}
			</div>
		{% endfor %}
	{% endif %}
	<form method="post">
		<h2>Cuisine</h2>
		{% for date in cuisineDates %}
			<div class="form-group">
				<label for="cuisine-date-{{ date.id }}">
					Date de cuisine
					{{ loop.index }}
				</label>
				<input type="datetime-local" name="dates[{{ date.id }}]" id="cuisine-date-{{ date.id }}" value="{{ date.date|date('Y-m-d\\TH:i:s') }}" class="form-control">
			</div>
		{% endfor %}
		<h2>Coiffeur</h2>
		{% for date in coiffeurDates %}
			<div class="form-group">
				<label for="coiffeur-date-{{ date.id }}">
					Date de coiffeur
					{{ loop.index }}
				</label>
				<input type="datetime-local" name="dates[{{ date.id }}]" id="coiffeur-date-{{ date.id }}" value="{{ date.date|date('Y-m-d\\TH:i:s') }}" class="form-control">
			</div>
		{% endfor %}
		<h2>Médecin</h2>
		{% for date in medecinDates %}
			<div class="form-group">
				<label for="medecin-date-{{ date.id }}">
					Date de médecin
					{{ loop.index }}
				</label>
				<input type="datetime-local" name="dates[{{ date.id }}]" id="medecin-date-{{ date.id }}" value="{{ date.date|date('Y-m-d\\TH:i:s') }}" class="form-control">
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
	</form>
{% endblock %}
