{% extends 'admin.layout.html.twig' %}

{% block title %}Liste des événements
{% endblock %}

{% block body %}
<main class="mainListAdmin">
	<h1>Liste des événements</h1>
	<article class="zoneEvent">

		{% for event in events %}
			<section class="sectionEvent">

				<img style="width: 250px;" src="{{ assets('/assets/img/' ~ event.imgPath) }}">
				<hr class="traitListeEvent">
				<h2 class="nomEvent">{{ event.name }}</h2>
				<hr class="traitListeEvent">
				<p class="description">{{ event.description }}</p>
				<hr class="traitListeEvent">
				<p>Début :
					{{ event.startDate|date('d/m/Y H:i') }}</p>
				<p>Fin :
					{{ event.endDate|date('d/m/Y H:i') }}</p>
				<hr class="traitListeEvent">
				<a href="{{ path('admin.edit-event', {id: event.id}) }}"><input class="boutonModif" type="button" value="Modifier"></a>
				<a href="{{ path('admin.delete', {id: event.id}) }}"><input type="button" value="Supprimer" class="boutonDelete"></a>
			</section>
		{% endfor %}
		
	</article>
</main>
{% endblock %}
