{% extends 'user.layout.html.twig' %}

{% block body %}

	<div class="zoneNom">
		<h1 class="zonePerso">Bienvenue sur votre page personnelle
		</h1>
		<h1 class="nom">
			{{ user.nom }}</h1>
	</div>


	<h3 class="dispoEvent">Voici la liste des évenements qui sont disponibles:</h3>


	<article class="zoneEvent">

		{% for event in events %}
			<section class="sectionEvent">
				<img style="width: 250px;" src="{{ assets('/assets/img/' ~ event.imgPath) }}">
				<hr class="traitListeEvent">
				<h2 class="nomEvent">{{ event.name }}</h2>
				<hr class="traitListeEvent">
				<p class="description">{{ event.description }}</p>
				<hr class="traitListeEvent">
				<div class="inputCoiffeur">
					<a href=" {{ path('user.listEventUser') }} ">
						<input type="button" value="En savoir plus" class="coiffeurBouton">
					</a>
				</div>
			</section>
		</section>
	{% endfor %}

</article>

<section class="sectionMedecin">
	<h3 class="annonceMedecin">Medecin</h3>
	<div><img src="/assets/img/7449867_3641634.jpg" alt=""></div>
	<p class="texteMedecin">Afin de vous assurer une meilleur santé et tout cela gratuitement le Docteur Jean se porte volontaire pour réaliser des consultations tout les Jeudi de 15h à 18h et tout cela bénévolement, donc n'hésitez pas à vous présenter les jours de présences.</p>
</section>{% endblock %}
